@use '@angular/material' as mat;

@include mat.core();

$BikeRatiosCalculator-primary: mat.define-palette(mat.$indigo-palette);
$BikeRatiosCalculator-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$BikeRatiosCalculator-warn: mat.define-palette(mat.$red-palette);

$BikeRatiosCalculator-theme: mat.define-light-theme((
  color: (
    primary: $BikeRatiosCalculator-primary,
    accent: $BikeRatiosCalculator-accent,
    warn: $BikeRatiosCalculator-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));
@include mat.all-component-themes($BikeRatiosCalculator-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
